<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Weather App</title>
</head>
<body>
<h1>Check Weather</h1>
<form action="#" th:action="@{/weather}" method="post">
  <input type="text" placeholder="Enter city" name="city" required>
  <input type="submit" value="Check Weather">
</form>

<div th:if="${weather != null}">
  <h2>Weather in <span th:text="${weather.location.name}"></span>, <span th:text="${weather.location.country}"></span></h2>
  <p>Temperature: <span th:text="${weather.current.temperature}"></span></p>
  <p>Description: <span th:text="${weather.current.weather_descriptions[0]}"></span></p>
  <img th:src="${weather.current.weather_icons[0]}">
</div>
</body>
</html>
